<?xml version="1.0"?>
<!--
    Launches gazebo, ur5 moveit framework and rviz
    
    Usage:
        bringup.launch
-->


<launch>

<!--
    <include file="$(find ur_gazebo)/launch/ur3_joint_limited.launch">
    </include>

-->
    <include file="$(find ur_modern_driver)/launch/ur3_bringup_joint_limited.launch">
        <arg name="robot_ip" value="$(arg robot_ip)"/>
    </include>

    <!-- sim can be removed when running on the real robot-->
    <include file="$(find ur3_moveit_config)/launch/ur3_moveit_planning_execution.launch">
        <arg name="limited" value="False"/>
        <arg name="sim" value="false"/>
    </include> 
  <!--     
    <include file="$(find ur3_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="True"/>
    </include> 
  -->
</launch>
